{% extends 'base.html.twig' %}
{% block title 'Editer property' %}
{% block body %}
    <div class="container col-md-8 mt-4">
        <h2>Creer un nouveau bien</h2>
        {{ include('_form.html.twig', {form : form, button : 'Creer' }) }}
    </div>
{% endblock %}

